*{ 
    box-sizing: border-box;
    padding:0;
    margin:0;                
}

h2 {
    text-align: center;
    font-size: 4vw;
    color: rgb(32, 128, 32);
}

p{
    font-size: 1.3vw;
}   

a,/* RELACIOADO AO PASSAR EM CIMA DOS LINKS MUDAR DE COR*/
a:link {
    color:  rgb(247, 246, 246);
    text-decoration: none;
    text-decoration-color: white;
    padding: 0px 2vw;
    border: none;
}
a:visited{
    color:white;
}
a:hover {      
    border-radius: 2vw;           
    background-color: rgba(255, 0, 0, 0.852);  
    color: white;
}

#container{
    display: grid;            
    grid-template-columns: 25vw 25vw 25vw 25vw ;
    grid-template-rows: 2vw 4vw 3vw 4vw 30.7vw 6.19vw    ;
}

/*UL da Nav*/
#menu {
    list-style: none;
    justify-content:center; 
    font-size: 1.2vw;            
    display: flex;                    
    background-color: blue;             
} 

/*Nav*/
#box1 {
    grid-column-start:1 ;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;                     
}

/* texto "Direitos TEA"*/
#box2{            
    text-align: center;          
    grid-column-start:2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5; 
}
/*Lista lado esquerdo da tela*/
#box3 {      
    grid-column-start:1 ;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;   
    border-top-left-radius: 2vw;
    padding-top: 2vw;  
    padding-left: 5vw; 
    background-color: rgba(222, 184, 135, 0.619);        
}

/*Lista lado direito da tela*/
#box4 {
    grid-column-start:3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;     
    padding-top: 2vw;
    padding-bottom: 1vw;
    padding-left: 4vw;
    padding-right: 1vw;    
    border-top-right-radius: 2vw;           
    background-color: rgba(222, 184, 135, 0.619);           
} 

/*Rodapé*/
tfoot,#box5 {
    grid-column-start:1 ;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;  
    border-top-left-radius:2vw ; 
    border-top-right-radius:2vw; 
    text-align: center;            
    font-size: 1.8vw;  
    background-color: blue; 
    color: white; 
  }   
       
/*Cada UL referece a uma cor/peça do quebra cabeça na Lista*/
#ul2 {
    font-size: 2.2vw;             
    color:green;
    list-style-image: url(imagens/peçaQuebracabeçaVerde.png);
}

#ul3 {
    font-size: 2.2vw;               
    color:orange;
    list-style-image: url(imagens/amarelo5x5.png);
}

#ul4 {
     font-size: 2.2vw;           
    color:blue;
    list-style-image: url(imagens/azul5x5.png);
}

#ul5 {         
    font-size: 2.2vw;    
    color:red;
    list-style-image: url(imagens/vermelho5x5.png);
}
#ul6{
    font-size: 2.2vw;  ;         
    color:violet;
    list-style-image: url(imagens/roxo5x5.png);
}

/*Para Celular*/
@media screen and (min-width: 320px) and (max-width: 768px) {
    #container{ 
        grid-template-columns: 25vw 25vw 25vw 25vw;       
        grid-template-rows: 2vw 5vw 10vw 72vw 78vw 9vw;        
        margin-top: 2vw;
        margin-bottom:2vw; 
        row-gap: 2vw; 
    }
    h2{
        font-size: 6vw;
    }
    p{
        font-size: 3vw;
    }  
    #menu{ 
        font-size: 1.8vw;        
    }  
    /*posiçaõ da barra Nav*/
    #box1 {
        grid-column-start:1 ;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 2;                     
    }

    /* texto "Direitos TEA"*/
    #box2{            
        text-align: center;   
        grid-column-start:1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5; 
    }

    /*Lista lado esquerdo da tela*/
    #box3 {  
        text-align: justify; 
        background-color: white;    
        grid-column-start:1 ;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;   
        padding-left: 10vw;
        padding-top: 0;
        padding-right: 2vw;  
    }

    /*Lista lado direito da tela*/
    #box4 {
        text-align: justify; 
        grid-column-start:1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 8;      
        padding-left: 10vw;
        padding-right: 2vw;
        padding-top: 0;
        background-color: white;             
    } 

    /*Rodapé*/
    tfoot,#box5 {
        grid-column-start:1 ;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 6;
        font-size: 2.5vw;
    }  

    /*Cada UL referece a uma cor/peça do quebra cabeça na Lista*/
    #ul2,  #ul3,  #ul4,  #ul5,  #ul6 {
        font-size: 4vw;
        padding-top: 3vw; 
    } 
    #ul2 {       
        list-style-image: url(imagens/verde2x1.png);        
    }

    #ul3 {
        list-style-image: url(imagens/amarelo2x1.png);
    }

    #ul4 {         
        list-style-image: url(imagens/azul2x1.png);       
    }

    #ul5 {            
        list-style-image: url(imagens/vermleho2x1.png);        
    }

    #ul6{        
        list-style-image: url(imagens/roxo2x1.png);       
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    #container{        
        grid-template-rows: 2vw 6vw 14vw 62vw 70vw 6vw;
    }
    h2{
        font-size: 6vw;
    }
    p{
        font-size: 2vw;
        
    } 
    #menu{ 
        font-size: 1.9vw;        
    }    

    /*Lista lado esquerdo da tela*/
    #box3 {          
        grid-column-start:1 ;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
        background-color: white;   
        padding-left: 10vw;
        padding-right: 2vw;          
    }

    /*Lista lado direito da tela*/
    #box4 {        
        grid-column-start:1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 8;
        background-color: white;      
        padding-left: 10vw;
        padding-right: 2vw;           
    } 

    /*Cada UL referece a uma cor/peça do quebra cabeça na Lista*/
    #ul2,  #ul3,  #ul4,  #ul5,  #ul6 {
        font-size: 4vw;       
       
        
    }
    #ul2 {
        list-style-image: url(imagens/peçaQuebracabeçaVerde.png);
    }
    #ul3 {
        list-style-image: url(imagens/amarelo5x5.png);
    }
    #ul4 { 
        list-style-image: url(imagens/azul5x5.png);
    }
    #ul5 {  
        list-style-image: url(imagens/vermelho5x5.png);
    }
    #ul6{
        list-style-image: url(imagens/roxo5x5.png);
    }
}



@media screen and (min-width: 1025px) and (max-width: 1440px){
    #container{
        grid-template-rows: 2vw 4vw 2vw 2vw 45vw 6vw;
    }
    h2{
        font-size: 4vw;
    }
    p{
        font-size: 1.1vw;    
    }   
    #box3{
        text-align: justify;
        background-color: white;
        padding-left: 8vw; 
        padding-right: 2vw;
    }
    #box4{
        text-align: justify;
        padding-left: 8vw; 
        background-color: white;
    }

     /*Cada UL referece a uma cor/peça do quebra cabeça na Lista*/
    #ul2,  #ul3,  #ul4,  #ul5,  #ul6 {
        font-size: 1.6vw; 
        padding-top: 0;      
        text-align: none;
    }    
}

@media screen and (min-width: 1441px) and (max-width: 1900px){  
    #container{
        grid-template-rows: 2vw 2vw 3vw 2vw 32vw 6vw ;
    }
    p{
        font-size: 1vw;
    }
    
    /*Cada UL referece a uma cor/peça do quebra cabeça na Lista*/
    #ul2,  #ul3,  #ul4,  #ul5,  #ul6 {
        font-size: 1.4vw;
    }
    #box3, #box4 {      
        padding-left: 8vw; 
        padding-right: 2vw;
    }
   
}
@media screen and (min-width: 1901px){  
    #container{
        grid-template-rows: 2vw 2vw 3vw 2vw 35vw 7vw ;
    }
    
}



     
       
        
        

    
   
                
       
        
    
       
        
       
       
           
                
               
     
         
       
        

   

